[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2-binary = "*"
django-environ = "*"
yapf = "*"
applicationinsights = "*"
whitenoise = "==5"
pandas = "*"
django-rest-knox = "*"
djoser = "*"

[dev-packages]

[requires]
python_version = "3.6"
