APP_PORT=8000
DJANGO_STATIC_HOST=http://localhost:8000/
SECRET_KEY=MY_SUPER_SECRETIVE_KEY
TIMEZONE=America/Indiana/Indianapolis

# tooling
UV_LINK_MODE=copy
UV_PROJECT_ENVIRONMENT=/var/cache/uv/venv

# set to False if public / production:
DEBUG=True
