# credentials for database access
DB_NAME=eyetagger
DB_USER=eyetagger_admin
DB_PASS=MY_SUPER_DB_PASSWORD
DB_HOST=db
DB_PORT=5432

# credentials for database creation
POSTGRES_DB=db
POSTGRES_USER=eyetagger_admin
POSTGRES_PASSWORD=MY_SUPER_DB_PASSWORD
